In [0]:
import pandas as pd
import numpy as np
import missingno as msn
df_fea = pd.read_csv('43REL_train_feature data.csv')
df_lab = pd.read_csv('43REL_train_labels.csv')

In [0]:
print(df_fea.head())
print(df_lab.head())
df_fea.rename(columns={"lon": "lng"}, inplace = True)

         lon        lat  ...  b8_2019-04-30  ndvi_2019-04-30
0  76.042755  27.906586  ...         -999.0           -999.0
1  76.043080  27.911612  ...         -999.0           -999.0
2  76.039370  27.916418  ...         -999.0           -999.0
3  76.039734  27.916988  ...         -999.0           -999.0
4  76.036150  27.920853  ...         -999.0           -999.0

[5 rows x 326 columns]
   Unnamed: 0  index season  ...        lat        lng   Name
0           1   1863   Rabi  ...  27.906586  76.042755  43REL
1           2   1864   Rabi  ...  27.911612  76.043080  43REL
2           3   1865   Rabi  ...  27.916418  76.039370  43REL
3           4   1866   Rabi  ...  27.916988  76.039734  43REL
4           5   1867   Rabi  ...  27.920853  76.036150  43REL

[5 rows x 17 columns]

In [0]:
df_merge_col = pd.merge(df_fea, df_lab, on=['lng','lat'], how = 'outer')

In [0]:
df_merge_col.head()
print(df_merge_col.shape)
print(df_fea.shape)
print(df_lab.shape)

(2036, 341)
(1347, 326)
(1347, 17)

In [0]:
#Removing -999 values 
df_merge_col.replace({-999.0: np.nan}, inplace = True)
df_merge_col.dropna(inplace = True)
#After dropping all the NaN values
df_merge_col.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 306 entries, 161 to 1397
Columns: 341 entries, lng to Name
dtypes: float64(330), object(11)
memory usage: 817.6+ KB

In [0]:
df_merge_col.head()

          lng        lat  b4_2018-08-01  ...     dt_f_hr       crop_nm   Name
161  75.51125  27.412203         1051.0  ...  2019-04-30         Wheat  43REL
162  75.51125  27.412203         1051.0  ...  2019-04-30         Wheat  43REL
163  75.51125  27.412203         1051.0  ...  2019-04-30         Wheat  43REL
164  75.51125  27.412203         1051.0  ...  2019-04-30         Wheat  43REL
167  75.51125  27.412233         1051.0  ...  2019-04-21  Barley (Jau)  43REL

[5 rows x 341 columns]

In [0]:
df_merge_col.to_csv('/content/new_file.csv', index = None)